<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" />
    <title>Gallery age</title>
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                 <a href="/home">Home</a>
                </div>
                <div class="nav-link-wrapper active-nav-link">
                 <a href="/about">About</a>
                </div>
                <div class="nav-link-wrapper">
                 <a href="/works">Works</a>
                </div>
                <div class="nav-link-wrapper">
                 <a href="/gallery">Gallery</a>
                </div>
            </div>
        </div>
     </div>
    </header>
    <h1>Gallery of Leonardo Dicaprio </h1>
    <h2>Memes</h2>
    <div class="gallery">
    </div>
    <script src="/gallery.js"></script>
</body>
</html>