<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles.css" />
    <title>Home file</title>
</head>
<body>
    <header>
        <ul>
            <a href= "home.html"><li>home</li></a>
            <a href= "/about.html"></a><li>About</li></a>
            <a href= "/works.html"></a><li">Works</li></a>
            <a href= "/gallery.html"></a><li>Gallery</li></a>
        </ul>
    </header>
    <h1>Yeah, the MDFK! Leonardo Di Caprio is here!</h1>
</body>
</html>