<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" />
    <title>About age</title>
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper">
                 <a href="/home">Home</a>
                </div>
                <div class="nav-link-wrapper active-nav-link">
                 <a href="/about">About</a>
                </div>
                <div class="nav-link-wrapper">
                 <a href="/works">Works</a>
                </div>
                <div class="nav-link-wrapper">
                 <a href="/gallery">Gallery</a>
                </div>
            </div>
        </div>
     </div>
    <h1>Works of Leonardo MDFK Dicaprio </h1>
    <ul>
        <a href="https://en.wikipedia.org/wiki/The_Revenant_(2015_film)"><li>The Revenant</li></a>
        <a href="https://en.wikipedia.org/wiki/Django_Unchained"><li>Django Unchained</li></a>
        <a href="https://en.wikipedia.org/wiki/Titanic_(1997_film)"><li>Titanic</li></a>
        <a href="https://en.wikipedia.org/wiki/Once_Upon_a_Time_in_Hollywood"><li>Once Upon a Time in Hollywood</li></a>
        <a href="https://en.wikipedia.org/wiki/The_Wolf_of_Wall_Street_(2013_film)"><li>The Wolf of Wall Street</li></a>
        <a href="https://en.wikipedia.org/wiki/Inception"><li>Inception</li></a>
    </ul>
</body>
</html>