<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" />
    <title>About age</title>
</head>
<body>
    <header>
        <ul>
            <a href= "/home"><li>home</li></a>
            <a href= "/about"><li>About</li></a>
            <a href= "/works"><li>Works</li></a>
            <a href= "/gallery"><li>Gallery</li></a>
        </ul>
    </header>
    <h1>Works of Leonardo MDFK Dicaprio </h1>
</body>
</html>